@font-face {
  font-family: "Avenir Next";
  src:url(../fonts/AvenirNext-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src:url(../fonts/AvenirNext-DemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Next";
  src:url(../fonts/AvenirNext-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
