* {
    box-sizing:  border-box;
}

html, body {
  background-color: #fff;
  color: #333;
  height: 100%;
  margin: 0;
  width: 100%;

  font-family: 'Avenir Next';
  font-weight: normal;
  font-size: 16px;
}

.body-container {
  display: flex;
  flex-direction: column;
  padding: 18px;
  background: #55617F;
  height: 100%;
}

.header {
  align-self: center;
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.header .logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('../assets/consensus-logo-large.png');
  width: 40px;
  height: 39px;
  margin-right: 10px;
}

.header span {
  line-height: 40px;
  font-size: 20px;
  color: #FFFFFF;
}


.form-container {
  display: flex;
  flex-direction: column;

  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(173,187,194,0.50);
  border-radius: 3px;
  height: 100%;

  margin-top: 40px;
  padding: 30px 40px;
}

.btn {
  user-select:none;
}

.btn:hover {
  opacity: 0.8;
}

.btn:active {
  transform: translateX(2px) translateY(2px);
}

.generate-btn {
  width: 60%;
  align-self: center;
  height: 40px;
  line-height: 40px;
  text-align: center;

  background-image: linear-gradient(-48deg, #022B6A 0%, #002980 80%);
  box-shadow: 3px 3px 5px 0 rgba(167,177,197,0.50);
  border-radius: 3.9px;

  cursor: pointer;
  color: #FFFFFF;
}

.seed-container {
  margin-top: 30px;
}

.seed-container .seed {
  margin-top: 5px;
  border-radius: 3px;
  border: 1px solid #e4e4e4;
  padding: 10px 15px;
  font-family: Courier New;
  font-size: 14px;
  text-align: justify;
}

.seed-container .disclaimer {
  font-size: 12px;
  padding: 0 8px;
  font-style: italic;
  margin-top: 6px;
  color: #ce1616;
}

.address-container {
  margin-top: 30px;
}

.address-container .address {
  margin-top: 5px;
  border-radius: 3px;
  border: 1px solid #e4e4e4;
  padding: 10px 15px;
  font-family: Courier New;
  font-size: 14px;
  text-align: justify;
  word-wrap: break-word;
}

.label {
  margin-left: 3px;
  font-size: 15px;
}
